:root {
  --main-bg-color: #DDECF8;
  --sec-bg-color: #63ADF2;
  --blue-color: #63ADF2;
  --dark-blue-color: #304D6D;
  --hint-color: #DDECF8;
}


body {
	background-color: white;
}

@keyframes blinkAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

/* Застосування анімації до кнопок з атрибутом data-toggle="modal" */
button[data-toggle="modal"] {
    animation: blinkAnimation 1s linear 5;
}

.my-container {
	border-radius: 16px;
	margin: 0 100px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	background-color: var(--main-bg-color);
	min-height: 800px;
}
.sec-bg{
	background-color: var(--sec-bg-color);
}


.rounded-5{
	border-radius: 5px;
}

.dark-bg{
	background-color: var(--dark-blue-color);
}

.blue-color{
	color: var(--blue-color);
}

input[type="number"], select{
	background-color: var(--dark-blue-color);
	border-radius: 5px;
	border: 0;
	color: white;
	padding-left: 5px;
}

button{
	background-color: var(--sec-bg-color);
	color: white;
	border-radius: 5px;
	border: 0px;
	padding: 7px 25px;
	font-weight: bold;
}